.row.content {height: 550px}

.sidenav {
  background-color: #f1f1f1;
  height: 100vh;
}

.side-tabs{
  cursor: pointer;
}

.progress-div{
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}