<div>
  <form>
    <div class="container" style="padding-bottom: 20px;" *ngIf="resetRequest && !resetConfirmation">
      <h1 class="text-center">Cognito Authentication </h1>
      <h4 class="text-center text-muted">Password Recovery</h4>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>

      <button type="submit" (click)="submitForgotPasswordRequest()" style="margin-top: 40px;">Submit</button>
    </div>

    <div class="container" style="padding-bottom: 20px;" *ngIf="!resetRequest && resetConfirmation">
      <h1 class="text-center">Cognito Authentication Password Recovery</h1>
      <h4 class="text-center text-muted">Password Recovery</h4>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>

      <label for="uname"><b>Reset Code</b></label>
      <input type="text" placeholder="reset code" name="resetcode" [(ngModel)]="resetcode" required>
      <small class="form-text text-muted">
        A reset code has been sent of the following registered email id : {{username}}
      </small>
      <button type="submit" (click)="completeForgotPasswordRequest()" style="margin-top: 40px;">Submit</button>
    </div>

    <div class="container">
      <span class="psw"><a routerLink="/auth/login">Sign In</a></span>
    </div>
  </form>
</div>